<launch>
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/os1_cloud_node/points"/>
      <remap from="scan" to="/os1_cloud_node/scan"/>
      <rosparam>
        transform_tolerance: 0.01
        min_height: -1
        max_height: 1.0
        angle_min: -3.14
        angle_max: 3.14
        angle_increment: 0.0001
        scan_time: 0.001
        range_min: 0.0
        range_max: 20
        use_inf: true
        concurrency_level: 1
      </rosparam>
    </node>
</launch>
